<!--book.ejs --> 
<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1><%= music.title %></h1>
    <p>Singer: <%= music.singer %></p>
    <p>Genre: <%= music.genre %></p>
    <p>release_date: <%= music.release_date %></p>
    <a href="/update/<%= music.id %>">Edit</a>
    <a href="/delete/<%= music.id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>