<!--books.ejs --> 

<!DOCTYPE html>
<html>
<head>
    <title>Music</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>musics</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Singer</th>
            <th>Genre</th>
            <th>release_date</th>
        </tr>
        <% for(var i=0; i < musics.length; i++) { %>
        <tr>
            <td><%=musics[i].title %></td>
            <td><%=musics[i].singer %></td>
            <td><%=musics[i].genre %></td>
            <td><%=musics[i].release_date %></td>
            <td>
                <a href="/music/<%= musics[i].id %>">View</a>
                <a href="/update/<%= musics[i].id %>">Edit</a>
                <a href="/delete/<%= musics[i].id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/create">Create New Music</a>
</body>
</html>